#!upstart
#
# An example upstart script for running a Node.js process as a service
# using Forever as the process monitor. For more configuration options
# associated with Forever, see: https://github.com/nodejitsu/forever
#
# You will need to set the environment variables noted below to conform to
# your use case, and should change the description.
#
description "Upstart script for {{ item.name }}."
start on {{ forever_start_on }}
stop on {{ forever_stop_on }}

# Let Forever (and the processes it starts) be run our user.
setuid {{ forever_user }}

# This line is needed so that Upstart reports the pid of the Node.js process
# started by Forever rather than Forever's pid.
expect daemon

# The full path to the directory containing the node and forever binaries.
env NODE_BIN_DIR="{{ forever_node_bin_dir }}"
# Set the NODE_PATH to the Node.js main node_modules directory.
env NODE_PATH="{{ forvever_node_path }}"
# The path to the directory where Forever writes files
env FOREVER_ROOT="{{ forever_root }}"
# The application startup Javascript file path.
env APPLICATION_PATH="{{ item.file }}"
# Process ID file path.
env PIDFILE="{{ item.pid_file|default('/var/run/%s.pid' % item.name) }}"
# Log file path.
env LOG="{{ item.pid_file|default('/var/log/%s.log' % item.name) }}"
# Forever settings to prevent the application spinning if it fails on launch.
env MIN_UPTIME="{{ item.min_uptime|default(5000) }}"
env SPIN_SLEEP_TIME="{{ item.spin_sleep_time|default(2000) }}"
# The command executed by Forever to run the application.
env COMMAND="{{item.command|default('node')}}"
# Application specific environment variables.
{% if forever_env is defined %}
{% for key, value in forever_env.iteritems() %}
env {{ key }}="{{ value }}"
{% endfor %}
{% endif %}
{% if item.env is defined %}
{% for key, value in item.env.iteritems() %}
env {{ key }}="{{ value }}"
{% endfor %}
{% endif %}

script
# Add the node executables to the path, which includes Forever if it is
# installed globally, which it should be.
PATH=$NODE_BIN_DIR:$PATH
# The minUptime and spinSleepTime settings stop Forever from thrashing if
# the application fails immediately on launch. This is generally necessary
# to avoid loading development servers to the point of failure every time
# someone makes an error in application initialization code, or bringing
# down production servers the same way if a database or other critical
# service suddenly becomes inaccessible.
exec forever \
-c "$COMMAND" \
--pidFile $PIDFILE \
-a \
-l $LOG \
--minUptime $MIN_UPTIME \
--spinSleepTime $SPIN_SLEEP_TIME \
start $APPLICATION_PATH
end script

pre-stop script
# Add the node executables to the path.
PATH=$NODE_BIN_DIR:$PATH
# Here we're using the pre-stop script to stop the Node.js application
# process so that Forever is given a chance to do its thing and tidy up
# its data. Note that doing it this way means that each application that
# runs under Forever must have a different start file name, regardless of
# which directory it is in.
exec forever stop $APPLICATION_PATH
end script